@use '../../lib/service.scss' as s;

.form {
    display: flex;
    flex-direction: column;
    padding: s.space(4);
    gap: s.space(8);

    &__title {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: s.space(1);
        border-bottom: 1px solid s.color('light');
    }
}
.card-body {
    display: flex;
    flex-direction: column;
    padding: s.space(2);
    gap: s.space(4);
}
.card-title {
    font-size: 20px;
    font-weight: bold;
}
.card-text {
    font-size: 16px;
    font-weight: bold;
}
.card-secondtext {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}
.card-link {
    color: blue;
}